.dropdown-button {
    cursor: default;
    display: inline-block;
    padding: 10px;
    background-color: #EEE;
    width: 100%;
    text-align: center;
}

.dropdown-button .glyphicon {
    float: right;

}

.dropdown-menu {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    border: none;
    padding: 0;
    max-height: 200px;
    overflow: auto;
}

.dropdown-menu li a {
    padding: 12px;
}

.submit {
    background-color: #EEE;
    width: 100%;
    padding: 10px;
    border: none;
}

.header{
    text-align: center;

}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.map, .pano {
    float: left;
    width:50%;
    height:480px;
}

.container {
    padding: 20% 10%;
    position: absolute;
    width: 100%;
}

h1, h3, h4{
    text-align: center;
    color: #88171E;
}

